* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
body {
  margin: 0;
}

.calc {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, auto);
}

.actiuni,
.buttons,
.buttonz {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border: 2px solid #1b1816;
}

.actiuni {
  background-color: grey;
}
.buttonz {
  color: whitesmoke;
  background-color: tomato;
}

.buttons:hover {
  background-color: rgb(0, 214, 252);
}

.actiuni:hover {
  background-color: cadetblue;
}

.buttonz:hover {
  background-color: darkgreen;
}

.screen {
  display: block;
  font-family: arial;
  font-size: 24px;
  margin: auto;
  width: 400px;
}

#screen-two {
  text-align: center;
  display: block;
  height: 25px;
  background-color: rgb(197, 138, 245);
}
#screen-one {
  text-align: center;
  display: block;
  height: 25px;
  min-width: 300px;
  background-color: rgb(112, 228, 228);
}

#operator-screen {
  text-align: center;
  display: block;
  height: 25px;
  min-width: 25px;
  background-color: rgb(228, 158, 112);
}
